<!DOCTYPE html>
<html lang="zh-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check in Out</title>
	<link rel="stylesheet" href="/vendors/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/user/template.css">

</head>

<body>

    <!-- 標題列 -->
    <header class="p-1 border-bottom shadow-sm">
    </header>


    <!-- 主要內容 -->
    <main>
        <div class="container">
            <!-- 同一列的內容放row -->
            <div class="row">
                <!-- 同一列不同欄放col -->
                <div class="col">

                </div>
            </div>
        </div>
    </main>

    
    <!-- 底欄 -->
	<footer>
		<div class="row border-top">
			<div class="container">
				<ul class="nav justify-content-center">
					<li class="nav-item"><a th:href="@{/user/}" class="nav-link px-2 text-body-secondary">首頁</a></li>
					<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">購物車</a></li>
					<li class="nav-item"><a th:href="@{/user/order}"
							class="nav-link px-2 text-body-secondary">訂單管理</a></li>
					<li class="nav-item"><a th:href="@{/user/faq}" class="nav-link px-2 text-body-secondary">常見問題</a>
					</li>
					<li class="nav-item"><a th:href="@{/user/contactUs}"
							class="nav-link px-2 text-body-secondary">聯繫我們</a></li>
					<li class="nav-item"><a th:href="@{/login/}" class="nav-link px-2 text-body-secondary">夥伴專區</a></li>
				</ul>
				<div class="d-flex justify-content-center align-items-start mb-0">
					<img th:src="@{/imgs/user/checKInOut_logo_light.png}" alt="checkinout" width="128">
				</div>
				<!-- <p class="text-center text-body-secondary">&copy; 2024 Check IN OUT</p> -->
			</div>
		</div>
	</footer>
    <!-- 必要JS -->
	<script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/vendors/jQuery/jquery-3.7.1.min.js"></script>
	<script src="/js/user/loginCheck.js" defer></script>

</html>