<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-TW">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>訂單</title>
	<link rel="stylesheet" th:href="@{/vendors/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/user/order.css}">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
	<!-- 標題列 -->
	<header class="p-1 border-bottom shadow-sm">
	</header>
	<!-- 主內容區 -->
	<!-- 主內容區 -->
	<main class="container mb-3 p-3 bg-light shadow-sm">

		<!-- 整個訂單區外層容器 (帶邊框、圓角、白底) -->

		<ul class="nav nav-pills mb-3 justify-content-center" id="orderTabs">
			<li class="nav-item">
				<button class="nav-link active py-2 px-4 fs-5 btn-secondary" data-tab="future">未來訂單</button>
			</li>
			<li class="nav-item">
				<button class="nav-link py-2 px-4 fs-5 btn-secondary" data-tab="past">過去訂單</button>
			</li>
			<li class="nav-item">
				<button class="nav-link py-2 px-4 fs-5 btn-secondary" data-tab="cancelled">已取消</button>
			</li>
		</ul>

		<!-- TAB 內容區 (靜態範例) -->

		<!-- 未來訂單 -->
		<div id="future" class="tab-panel">

		</div>

		<div id="past" class="tab-panel d-none">
		</div>

		<div id="cancelled" class="tab-panel d-none">
		</div>


	</main>
	<!-- 底欄 -->
	<footer>
		<div class="row border-top">
			<div class="container">
				<ul class="nav justify-content-center">
					<li class="nav-item"><a th:href="@{/user/}" class="nav-link px-2 text-body-secondary">首頁</a></li>
					<li class="nav-item"><a th:href="@{/user/search}" class="nav-link px-2 text-body-secondary">找房</a>
					</li>
					<li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">購物車</a></li>
					<li class="nav-item"><a th:href="@{/user/orderedfinal}"
							class="nav-link px-2 text-body-secondary">訂單管理</a></li>
					<li class="nav-item"><a th:href="@{/user/faq}" class="nav-link px-2 text-body-secondary">常見問題</a>
					</li>
					<li class="nav-item"><a th:href="@{/user/contactUs}"
							class="nav-link px-2 text-body-secondary">聯繫我們</a></li>
					<li class="nav-item"><a th:href="@{/login/}" class="nav-link px-2 text-body-secondary">夥伴專區</a></li>
				</ul>
				<div class="d-flex justify-content-center align-items-start mb-0">
					<img th:src="@{/imgs/user/checKInOut_logo_light.png}" alt="checkinout" width="128">
				</div>
				<!-- <p class="text-center text-body-secondary">&copy; 2024 Check IN OUT</p> -->
			</div>
		</div>
	</footer>
	<script th:src="@{/vendors/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/vendors/jQuery/jquery-3.7.1.min.js}"></script>
	<script src="/js/user/loginCheck.js" defer></script>
	<script src="/js/user/order.js" defer></script>

</body>

</html>


