/* 共通CSS */
body {
    width: 100vw;
}

header {
    background-color: white;
    height: 80px;
    top: 0;
    width: 100vw;
    position: fixed;
    z-index: 3;
}

main {
    margin-top:12vh;
    background-color: white;
}

ul .dropdown-menu {
    width: 15vw;
}

ul .dropdown-menu.login {
    width: 20vw;
}

ul .dropdown-menu .dropdown-item {
    padding: 0.5em 0.3em;
}

.row-cols-1::-webkit-scrollbar {
    display: none;
}

.big-title {
    height: 100px;
    background-color: #eeeae7;
}
